body{
	font-family: 'Lato', sans-serif;
	line-height: 27px;
	font-weight: 300;
}
.fila {
	width: 100%;
	float: left;
}
.mtop20{
	margin-top: 20px;
}
.mtop40{
	margin-top: 40px;
}
.mtop70{
	margin-top: 70px;
}
.mtop0{
	margin-top:0px;
}
.mbottom100{
	margin-bottom:100px;
}
.mbottom40{
	margin-bottom:40px;
}
h1{
	font-weight: 800;
	font-style: italic;
}
p{
	color:#484848;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
section{
	width: 100%;
	height: auto;
	float: left;
}
.inicio{
	background-image: url("../img/bghome.png");
	background-position: top;
	background-repeat: no-repeat;
	height: 850px;
}
.inicio h1{
	font-size: 50px;
	font-weight: 600;
	margin:15px 0px 0px 0px;
	line-height: 50px;
	font-style: normal;
}
.inicio p {
	margin:0px 0px 10px 0px;
	font-size: 22px;
	font-weight: 100;
	font-style: normal;
}
.infoHome{
	margin-top:170px;
}
.text-white {
	color:#fff;
}
.btn-out{
	background: transparent;
    padding: 0px 26px;
    background-repeat: no-repeat;
    border-radius: 3px;
    height: 45px;
    float: left;
    color: #f0f0f0;
    margin: 0px 5px;
    font-size:16px;
    font-weight: 200;
    font-style: normal;
    border:0px;
}
.btn-out:hover{
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	color: #fff;
}
.btn-out img{
	margin-right:15px;
}
.btnhome {
	text-align: center;
    margin: 0 auto;
    width: 435px;
    display: inline-block;
}
.pv140{
	padding:140px 0px;
}
.perfil h1 {
	margin:0px 0px 50px 0px;
}
.half {
	width: 50%;
	float: left;
}
.dark{
	background:#f3f3f3;
}
.gray {
	background:#f3f3f3;
}
.metodologia{
	background:#f3f3f3;
}
.metodologia .dark h1{
margin-bottom:70px;
}
.turquesa {
	background-color:#89ECDC;
}
.celeste{
	background-color:#60BEE8;
}
.morado {
	background-color:#D7B9F4;
}
.amarillo{
	background-color:#F1F29C;
}
.anaranjado {
	background-color:#F4C084;
}
.verde {
	background-color:#CFE8B8;
}
.item{
	display: inline-block;
	width: 100%;
}
.nopadding{
	padding: 0 !important;
   	margin: 0 !important;
}
.imgMobile {
	max-width: 335px !important;
}
.imgDesktop {
	width: 100%;
	max-width: 520px !important;
}
.experiencia img{
	max-width: 85%;
}
.logos{
	line-height: 200px;
	border:1px #f5f5f5 solid;
}
.contacto {
	background-image: url("../img/santiago.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 1170px;
}
.contacto ul{
	margin-top:50px;
	padding-left:0px;
}
.contacto ul li {
    list-style: none;
    margin-bottom: 30px;
}
.contacto ul li a{
	color:#292929 !important;
}
.contacto ul li img {
    float: left;
    margin-right:20px;
}
textarea{
	height: 100px !important;
}
.contacto h3 {
	font-style: italic;
}
.arrowDown{
	background-image: url("../img/arrowDown.png");
	background-repeat: no-repeat;
	width: 87px;
	height: 87px;
	margin: 0 auto;
	margin-top: 50px;
}
.btnhome a:hover{
	text-decoration: none;
}
.btnhome a:focus{
	color:#fff;
}

.navbar {
	padding:20px 0px;
	right: 0px;
	top:0px;
	position: fixed;
    width: 100%;
    text-align: right;
    z-index: 9;
}
.navbar ul {
	list-style: none;
	margin:0px;
	padding:0px;
	display: inline-block;
}
.navbar ul li{
	float: left;
    margin: 0px 25px 0px 0px;
    font-weight: 300;
    font-size: 15px;
}
.affix{
	right: 0px;
	padding: 15px 0px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.nav li a {
	color:#292929;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.nav li a:focus, .nav li a:hover {
	text-decoration: none;
}
#mynav li.active a {
	font-weight: 800;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.affix-top ul li a {
    color: #c1c1c1;
}
.isotipo{
	width:32px;
	height:32px;
	background-image: url("../img/isotipo.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-left:20px;
	float: left;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border:1px #B8B8B8 solid;
}


